*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  background-color: #23262A;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 1.8rem;
}

li {
  margin-bottom: 1.3rem;
}

section {
  margin-bottom: 2.3rem;
  scroll-margin-top: 1rem;
}

p {
  line-height: 1.9;
}

ul,
ol {
  padding: 1rem 0;
  padding-left: 1.6rem;
  line-height: 1.6;
}

figure {
  background-color: #E8EAEE;
  color: #23262A;
  padding-left: 1rem;
  margin: 1rem 0;
}

pre {
  line-height: 1.5;
  overflow: auto;
}

code {
  padding: .3rem;
  background-color: #E8EAEE;
  color: #23262A;
}

/* ********** NAV ********** */
.nav-container {
  padding: 1.5rem;
  display: none;
}

.nav-container header {
  margin-bottom: 1rem;
}

.nav-container li {
  list-style: none;
}

.nav-container a:hover,
.nav-container a:focus {
  color: #1F80FF;
  text-decoration: underline;
}

/* ********** MAIN ********** */
.main-container {
  padding: 3rem;
}

.main-container a,
a code {
  color: #1F80FF;
}

.main-container li:last-of-type {
  margin-bottom: 0;
}

/* ********** MEDIAQUERY ********** */
@media (min-width: 768px) {
  .nav-container {
    position: fixed;
    top: 0rem;
    left: 0;
    display: block;
    width: 290px;
  }

  .nav-container header {
    text-align: center;
  }

  .scroll-nav {
    padding-left: 0;
    height: 500px;
    overflow: scroll;
  }

  .main-container {
    width: calc(100% - 310px);
    margin-left: 310px;
    margin-top: 1rem;
    padding: 3rem;
    padding-top: .5rem;
    max-width: 900px;
  }